.password-change-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* İstediğiniz maksimum genişliği ayarlayın */
  margin: 0 auto; /* Merkeze almak için */
}

.input-group {
  margin-bottom: 20px; /* Gruplar arasında boşluk */
}

.input-group label {
  margin-top: 12px;
  display: block;
  margin-bottom: 5px; /* Label ve input arasında boşluk */
  font-weight: lighter;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Kenarlık rengi */
  border-radius:10px !important; /* Hafif yuvarlak köşeler */
  font-size: 16px; /* Okunabilir font boyutu */
}

.input-group input:focus {
  outline: none;
  border-color: #666; /* Fokus kenarlık rengi */
}

/* Butonlar için genel stil */
.btn-psw {
    text-emphasis: center;
    width: 95%;
    height: 40px;
    line-height: 10px;
    padding: 15px 30px;
    font-size: 18px;
    color: white !important;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    transition: background-color 0.3s ease;
    border-radius: 25px; /* Yuvarlak kenarlar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* Hafif gölge */
  }
  
  /* Şifre değiştirme butonu için stil */
  .btn-psw-change-password {
    background-color: #8e44ad; /* Mor arkaplan */
  }
  
  /* Üyeliği sonlandırma butonu için stil */
  .btn-psw-cancel-membership {
    background-color: #e74c3c; /* Kırmızı arkaplan */
  }
  
  /* Butonlara tıklandığında etkileşimli bir stil */
  .btn-psw:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(2px);
  }
  
  /* Butonlar için responsive bir konteynır */
  .button-psw-container {
    text-align: center; /* Butonları ortala */
  }
  